@import url(fonts.css);
@import url(normalize.css);
@import url(blocks/hero.css);
@import url(blocks/info.css);
@import url(blocks/takeaways.css);
@import url(blocks/experience.css);
@import url(blocks/invited.css);
@import url(blocks/program.css);
@import url(blocks/broadcast.css);
@import url(blocks/party.css);
@import url(blocks/invited-program.css);
@import url(blocks/golf.css);
@import url(blocks/venue.css);
@import url(blocks/contacts.css);


* {
    font-family: "Montserrat", "Arial", sans-serif;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    position: relative;
    padding: 0 20px;
}

.visually-hidden {
    position: absolute !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    white-space: nowrap !important;
    -webkit-clip-path: inset(100%) !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.pos-relative {
    position: relative;
}

.loader-decor {
    position: absolute;
    animation: rotate 2s linear infinite;
}

.title {
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;
    width: 100%;
    text-transform: uppercase;
}

.title.red {
    color: #FF0000;
}

.title.white {
    color: #FFFFFF;
}

.program-title {
    min-height: 36px;
    background-color: #000000;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    padding: 0 13px 0 43px;
}

.program-title::before {
    content: '';
    display: block;
    background: url('/images/program-decor.svg') no-repeat center;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

.program-title h3 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.program-title.red {
    background-color: #FF0000;
}

.program-date {
    min-height: 52px;
    border-radius: 50px;
    border: 1px solid #000000;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 55px 0 47px;
    justify-content: space-between;
}

.program-date::before,
.program-date::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.program-date::before {
    background: url('/images/program-date-decor-1.svg') no-repeat center;
    width: 10.32px;
    height: 19.68px;
    left: 22px;
}

.program-date::after {
    background: url('/images/program-date-decor-2.svg') no-repeat center;
    width: 20.28px;
    height: 20.08px;
    right: 22px;
}

.program-date__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

.program-date__list {
    display: flex;
    align-items: center;
}

.program-date__list-item {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 21.03px;
    font-weight: 400;
    line-height: 23.13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
}

.program-date__list-item:not(:last-child) {
    margin-right: 9px;
}

.program-date__list-item.current {
    color: #FFFFFF;
    background-color: #FF0000;
}

.program-date__list-item.reserved {
    color: #FFFFFF;
    background-color: #000000;
}

.program-list {
    position: relative;
    overflow: hidden;
}

.program-list::before {
    content: '';
    display: block;
    width: 2px;
    height: 95%;
    background-color: #000000;
    position: absolute;
    top: 6px;
    left: 7.5px;
}

.program-list-item {
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    padding-left: 37px;
    width: fit-content;
    position: relative;
}

.program-list-item:not(:last-of-type) {
    margin-bottom: 42px;
}

.program-list-item:last-of-type span.red {
    border: 2px solid #FF0000;
    border-radius: 25.76px;
    padding: 4px 12px;
    display: block;
}

.program-list-item::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000000;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.program-list-item:last-of-type::before {
    background-color: #FF0000;
}

.schedule {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.schedule__item {
    width: 100%;
}

.schedule__head {
    margin-bottom: 14px;
}

.schedule__head.big {
    margin-bottom: 23px;
}

.schedule__head-item {
    display: flex;
    align-items: center;
}

.schedule__head-item:not(:last-child) {
    margin-bottom: 25px;
}

.schedule__head-time {
    max-width: 100px;
    width: 100%;
    min-height: 36px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    border-radius: 20px;
    background-color: #FFC8C8;
    display: flex;
    align-items: center;
    padding: 0 0 0 43px;
    position: relative;
    text-transform: uppercase;
}

.schedule__head-time.big {
    min-height: 41px;
    max-width: initial;
    width: fit-content;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    padding: 0 13px 0 46px;
}

.schedule__head-time::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    background: url('/images/time-decor.svg') no-repeat center;
    width: 20px;
    height: 20px;
}

.schedule__head-time.big::before {
    width: 25px;
    height: 25px;
    background-size: cover;
}

.schedule__head-text {
    margin-left: 20px;
    flex-shrink: 0;
}

.schedule__head-time.gray {
    background-color: #E2E2E2;
}

.schedule-head-item:last-child .schedule__head-text {
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
    min-height: 36px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0 13px;
}

.schedule__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.68px;
    text-transform: uppercase;
    padding-bottom: 2px;
    margin-bottom: 10px;
    position: relative;
}

.schedule__title::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000000;
}

.schedule__title.big {
    font-size: 25px;
    line-height: 30.75px;
    padding-bottom: 16px;
    margin-bottom: 17px;
}

.schedule__text{
    font-size: 16px;
    font-weight: 300;
    line-height: 19.68px;
}

.schedule__text.big {
    font-size: 20px;
    line-height: 24.6px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateReverse {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotateCenter {
    0% {
        transform: translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateY(-50%) rotate(360deg);
    }
}

@keyframes rotateCenterReverse {
    0% {
        transform: translateY(-50%) rotate(360deg);
    }
    100% {
        transform: translateY(-50%) rotate(0deg);
    }
}