.experience__head {
    display: flex;
    align-items: center;
}

.experience__head-item:first-child {
    flex: 0 1 868px;
}

.experience__head-item:nth-child(2) {
    flex: 0 1 460px;
}

.experience__head-item:nth-child(2)::before,
.experience__head-item:nth-child(2)::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.experience__head-item:nth-child(2)::before {
    background: url('/images/arrow-figure-decor.svg') no-repeat center;
    width: 96px;
    height: 48px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.experience__head-item:nth-child(2)::after {
    width: 120px;
    height: 2px;
    position: absolute;
    background-color: #000000;
    left: 227px;
}

.experience__list {
    display: flex;
    flex-wrap: wrap;
}

.experience__list-item {
    flex: 0 1 440px;
    border-radius: 34px;
    background-color: #000000;
    height: 259px;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding: 32px 24px;
}

.experience__list-item:nth-child(n):not(:nth-child(3)):not(:last-child) {
    margin-right: 20px;
}

.experience__list-item:nth-child(1) .experience__list-title::after {
    background: url('/images/experience-list-decor-1.svg') no-repeat center;
}

.experience__list-item:nth-child(2) .experience__list-title::after {
    background: url('/images/experience-list-decor-2.svg') no-repeat center;
}

.experience__list-item:nth-child(3) .experience__list-title::after {
    background: url('/images/experience-list-decor-3.svg') no-repeat center;
}

.experience__list-item:nth-child(4) .experience__list-title::after {
    background: url('/images/experience-list-decor-4.svg') no-repeat center;
}

.experience__list-item:nth-child(5) .experience__list-title::after {
    background: url('/images/experience-list-decor-5.svg') no-repeat center;
}

.experience__list-item:nth-child(6) .experience__list-title::after {
    background: url('/images/experience-list-decor-6.svg') no-repeat center;
}

.experience__list-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.6px;
    text-transform: uppercase;
    border-bottom: 1px solid #FFFFFF;
    min-height: 84px;
    margin-bottom: 30px;
}

.experience__list-title::after {
    content: '';
    display: block;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 0;
    right: 0;
}

.big-decor.experience__list-title::after {
    width: 96px;
}

.experience__list-title span {
    max-width: 317px;
    display: block;
    min-height: 50px;
    display: flex;
    align-items: center;
}

.experience__list-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.22px;
    max-width: 357px;
    width: 100%;
}