.golf__container::before,
.golf__container::after {
    content: '';
    display: block;
    position: absolute;
}

.golf__container::before {
    width: 246px;
    height: 246px;
    background-color: #FF0000;
    right: 206px;
    top: 198px;
    border-radius: 34px;
}

.golf__container::after {
    width: 334px;
    height: 309px;
    background: url('/images/red-square.svg') no-repeat center;
    right: 20px;
    bottom: -314px;
}

.golf__title {
    max-width: 1030px;
}

.golf__description {
    font-size: 24px;
    font-weight: 500;
    line-height: 29.52px;
    text-transform: uppercase;
    margin: 25px 0 72px;
}

.golf__description span {
    border: 1px solid #FF0000;
    border-radius: 16.56px;
    padding: 1px 7px;
}

.golf__list {
    max-width: 822px;
    width: 100%;
}

.golf__list::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -197px;
    left: 401px;
    border-radius: 32px;
    width: 140px;
    height: 140px;
    background-color: #FF0000;
}

.golf__list-item {
    font-size: 20px;
    font-weight: 300;
    line-height: 24.6px;
    padding-left: 74px;
}

.golf__list-item:not(:last-child) {
    margin-bottom: 39px;
}


.golf__list::before,
.golf__list-item::before {
    content: '';
    display: block;
    background: url('/images/red-star-decor.svg') no-repeat center;
    background-size: cover;
    position: absolute;
}

.golf__list::before {
    width: 117px;
    height: 117px;
    bottom: -148px;
    left: 197px;
    animation: rotate 10s linear infinite;
    z-index: 2;
}

.golf__list-item::before {
    width: 48px;
    height: 48px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.golf__img {
    position: absolute;
    z-index: 1;
}

.golf__img_1 {
    top: 166px;
    right: 49px;
}

.golf__img_2 {
    bottom: -320px;
    right: 256px;
}

.golf__img_3 {
    bottom: -313px;
    left: 20px;
}

@media (max-width: 1440px) {
    .golf__container::before {
        top: 268px;
        right: 154px;
    }

    .golf__list {
        max-width: 60%;
    }

    .golf__list::before {
        bottom: -513px;
        left: 406px;
    }

    .golf__list::after {
        bottom: -378px;
        left: 103px;
    }

    .golf__img_1 {
        top: 220px;
        right: 16px;
    }

    .golf__img_2 {
        bottom: -383px;
        right: 205px;
    }

    .golf__img_3 {
        bottom: -560px;
    }
}