.invited-program {
    padding: 96px 0 105px;
}

.invited-program__container::after {
    content: '';
    display: block;
    position: absolute;
    top: -55px;
    right: 20px;
    background: url(/images/arrow-figure-decor_red.svg) no-repeat center;
    width: 96px;
    height: 48px;
}

.invited-program__content {
    display: flex;
}

.invited-program__content-item:first-child {
    max-width: 795px;
    width: 100%;
}

.invited-program__date {
    margin: 12px 0 48px;
}

.invited-program__schedule {
    max-width: 613px;
}

.invited-program__schedule-item:not(:last-child) {
    margin-bottom: 59px;
}

.invited-program .invited-program__schedule-title::after {
    width: 75.1%;
}

.invited-program__schedule-text {
    margin-bottom: 24px;
}

.invited-program__img-wrapper::before {
    content: '';
    display: block;
    position: absolute;
    top: 188px;
    left: 44px;
    background: url(/images/gray-star-decor.svg) no-repeat center;
    background-size: cover;
    width: 215px;
    height: 215px;
    z-index: 1;
    animation: rotate 10s linear infinite;
}

.invited-program__img {
    position: absolute;
}

.invited-program__img_1 {
    top: 47px;
    left: 217px;
}

.invited-program__img_2 {
    top: 423px;
    left: 6px;
}

@media (max-width: 1440px) {

    .invited-program__img_1 {
        right: -38vw;
        left: initial;
    }

    .invited-program__img_2 {
        right: -11vw;
        left: initial;
    }

    .invited-program__img-wrapper::before {
        right: -8vw;
        left: initial;
    }
}