.program__head.decor::before,
.program__head.decor::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.program__head.decor::before {
    width: 252px;
    height: 2px;
    background-color: #D9D9D9;
    right: 112px;
}

.program__head.decor::after {
    background: url('/images/arrow-figure-decor_red.svg') no-repeat center;
    width: 96px;
    height: 48px;
    right: 0;
}

.program__date {
    max-width: 819px;
}

.program__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 959px;
}

.program__item:nth-child(2) .program__list {
    max-height: 820px;
}

.program__list-item {
    width: 100%;
}

.program__item:nth-child(1) .program__list-item {
    max-width: 640px;
}

.program__item:nth-child(2) .program__list-item {
    max-width: 670px;
}

.program__list-item:nth-child(n):not(:nth-child(4)):not(:last-child) {
    margin-bottom: 19px;
}

.program__item:first-child .program__list-item:nth-child(-n+4) {
    margin-right: 80px;
}

.program__item:nth-child(2) .program__list-item:first-child {
    margin-right: 22px;
}

.program__list-head {
    margin-bottom: 14px;
}

.program__list-head.big {
    margin-bottom: 23px;
}

.program__list-head-item {
    display: flex;
    align-items: center;
}

.program__list-head-item:not(:last-child) {
    margin-bottom: 25px;
}

.program__list-head-time {
    max-width: 100px;
    width: 100%;
    min-height: 36px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    border-radius: 20px;
    background-color: #FFC8C8;
    display: flex;
    align-items: center;
    padding: 0 0 0 43px;
}

.program__list-head-time.big {
    min-height: 41px;
    max-width: initial;
    width: fit-content;
}

.program__list-head-time.big {
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    padding: 0 13px 0 46px;
}

.program__list-head-time::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    background: url('/images/time-decor.svg') no-repeat center;
    width: 20px;
    height: 20px;
}

.program__list-head-time.big::before {
    width: 25px;
    height: 25px;
    background-size: cover;
}

.program__list-head-text {
    margin-left: 20px;
    flex-shrink: 0;
}

.program__list-head-time.gray {
    background-color: #E2E2E2;
}

.program__list-head-item:nth-child(even) .program__list-head-text,
.program__list-head-item:last-child .program__list-head-text {
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
    min-height: 36px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0 13px;
}

.program_list-head-notice {
    margin-left: 18px;
}

.program__list-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.68px;
    text-transform: uppercase;
    border-bottom: 1px solid #000000;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

.program__list-title.big {
    font-size: 25px;
    line-height: 30.75px;
    padding-bottom: 16px;
    margin-bottom: 17px;
    max-width: 542px;
}

.program__list-text,
.program_list-head-notice {
    font-size: 16px;
    font-weight: 300;
    line-height: 19.68px;
}

.program__list-text.big {
    font-size: 20px;
    line-height: 24.6px;
}

.program__list-notice-title {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: #000000;
    display: flex;
    align-items: center;
    padding: 0 13px;
    width: fit-content;
    min-height: 41px;
    margin: 24px 0;
}

.program__advertise {
    background-color: #000000;
    border-radius: 20px;
    color: #FFFFFF;
    width: 100%;
    padding: 33px 20px 26px 33px;
    margin-bottom: 27px;
    z-index: 1;
    position: relative;
}

.program__advertise-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.52px;
    margin-bottom: 9px;
}

.program__advertise-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24.6px;
}

.program__certificate {
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 40px 35px 62px;
}

.program__certificate::before,
.program__certificate::after {
    content: '';
    display: block;
    background: url('/images/red-star-decor.svg') no-repeat center;
    position: absolute;
    width: 104px;
    height: 104px;
    background-size: cover;
}

.program__certificate::before {
    top: -79px;
    right: 45px;
}

.program__certificate::after {
    bottom: -53px;
    left: 248px;
}

.program__certificate-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49.2px;
    text-transform: uppercase;
}

.program__certificate-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.68px;
    max-width: 300px;
    width: 100%;
    margin: 23px 0 15px;
}

.program__certificate-img {
    position: absolute;
    right: 13px;
    bottom: -149px;
}